body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}
button {
    padding: 8px;
    background: #2c3e50;
    color: white;
    border: none;
}
input {
    padding: 8px;
}
